@import './base.css';

body {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-size: cover;
  user-select: none;
  margin-bottom: 80px;
  
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    border-radius: 20px;
    background: transparent; 
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: hsl(var(--primary)); 
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
}

